body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h3{
    font-weight: 500;
}
h2{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0px;
    display: inline-block;
}
h1{
    font-weight: 500;
    margin: 10px 0;
}
p{
    line-height: 2;
    margin: 0;
}

/* HERO SECTION */
.hero-section{
    background-color: #fff3f1;
    height: 665px;
    position: relative;
    margin: 0;
    padding: 0px;
    top:-62px;
}

/* NAVBAR */
.navbar{
    /* position: relative; */
    padding: 30px 16px 30px 32px;
    /* width: 500px; */
    background-color: #fff3f1;
}
.navbar-fixed{
    position: fixed;
    z-index: 1;
    width: 1570px;
    top: 0px;
}
.nav-link{
    display: inline;
    margin: 0 32px;
}
.navbar-links{
    display: inline;
    position: absolute;
    right: 0px;
    padding: 0 64px 0 0;

}
.logo{
    display: inline;
}

/* TITLE TEXT */
.title-text{
    margin-left: 185px;
    margin-top: 10px;
    font-size: 3rem;
}
.tt-text{
    margin-top: 150px;
    position: relative;
    top: 150px;
}
.byline{
    font-size: 1.5rem;
    margin-left: 185px;
    margin-top: 75px;
    position: relative;
    top:100px;
}
.lady-image{
    position: absolute;
    bottom: 0px;
    right: 50px;
}
.elipse{
    position: absolute;
}
.left{
    top: 150px;;
}
.top{
    /* position: relative; */
    transform: rotate(90deg);
    top: -135px;
    right: 520px;
    z-index:2;
}

/* FEATURED SECTION */
.featured{
    /* width: auto; */
    display: inline-block;
    /* background-color: red; */
    margin: 100px auto;
    text-align: left;
}
hr{
    border: 0;
    margin: 0;
    border-top: 5px solid #ff8383;
    width: 300px;
    margin: 10px 0 0 50px;
}
.tt-text2{
    margin-left: 100px;
    display: inline-block;
}
.card{
    width: 500px;
    height: auto;
    background-color: #fff3f1;
    display: inline-block;
    padding: 50px 32px;
    vertical-align: top;
    border-radius: 25px;
    margin: 50px 20px 0 0;
}
.donut{
    height: 455px;
    margin-right: 0;
    /* display: inline-block; */
}
.card-text{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 15px 0;
    /* display: inline-block; */
}
.serve{
    font-size: 1.25rem;
    font-weight: 500;
    /* display: inline-block; */
}
.feature-text{
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
}
.feature-text-light{
    font-size: 1.75rem;
    font-weight: 500;
}
.feature-center{
    text-align: center;
}
.corner-image{
    position: absolute;
}
.pastry{
    right: 740px;
}
.donut-img{
    right: 160px;
}

/* SNEAKY TRICK */
.sneaky-trick{
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    width: 1150px;
}
.tips{
    margin: 50px 0 0 50px;
    width: 50%; 
    clear: right;
    float: left;
}
.tips-text{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px 0 30px 20px;
    font-style: italic;
    clear: right;
    display: inline-block;
}
.sneaky-img{
    float: right;
    position: relative;
    top: 140px;
    right: 100px;
    vertical-align: middle;
}
.tips-text-light{
    /* font-size: 1.75rem; */
    font-weight: 500;
    clear: right;
}
.sneaky-trick-center{
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #fff3f1;
}
.middle-circle{
    position: absolute;
    transform: rotate(180deg);
    right: 0px;
    top: 1350px;
}
.footer{
    color: white;
    background-color: #4b4b4b;
    /* text-align: left; */
    display: inline-block;
}
.little-bold{
    font-weight: 600;
}
.cat{
    width: 15%;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    text-align: left;
}
.inline{
    display: inline-block;
}
.footer-center{
    text-align: center;
    padding: 50px 0;
    background-color: #4b4b4b ;
}
.soc{
    width: 200px;
}
.social-icons{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}